.biography-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;

  & .biography-img-container {
    width: 60%;
    height: 100%;

    & .biography-img {
      width: 100%;
      object-fit: cover;
    }
  }

  & .biography-description-container {
    display: flex;
    position: absolute;
    padding: 32px;
    right: 3em;
    width: 65%;
    background-color: var(--accent-font-color);
  }
}

@media screen and (max-width: 480px) {
  .biography-container {
    & .biography-img-container {
      width: 100%;
      height: 60%;
    }

    & .biography-description-container {
      left: 10%;
      width: 80%;

      & .biography-description-text {
        font-size: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
}
